@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: Raleway;
}

html {
    background-image: url('https://i.pinimg.com/originals/9c/02/7a/9c027a444d6b4c1edb0d6748235dc15a.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
