.topImage{
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  text-align: center;
  color: white;
}

.topImage > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topImage > h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidcol {
  width: 95vw;
  height: auto;
  display: flex;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: #e9e9e9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidcol a:link, .sidcol a:visited{
  text-decoration: none;
  color: black;
}

.sidcol a:hover, .sidcol a:active {
  text-decoration: underline;
  color: black;
}

.featcol {
  height: 100%;
  width: 33.333%;
  text-align: center;
}

.typecol{
  height: 100%;
  width: 33.333%;
  text-align: center;
}

.sericol{
  height: 100%;
  width: 33.333%;
  text-align: center;
}

.products {  
  width: 95vw;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 5% 5%;
  grid-auto-flow: row;
  grid-template-areas:
    "col1 col2 col3";
}

.col1 { grid-area: col1; }

.col2 { grid-area: col2; }

.col3 { grid-area: col3; }

.product {  
  width: 100%;
  height: 70vh;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr 0.2fr 0.25fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0% 0%;
  grid-auto-flow: row;
  grid-template-areas:
    "prodimg prodimg"
    "prodname prodname"
    "prodcolors prodbuy";
}

.prodname { 
  grid-area: prodname;
  text-align: center;
  vertical-align: middle;
  background-color: #f9f9f9;
}

.prodcolors {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "color1 color2 color3 color4 color5"
    "color6 color7 color8 color9 color10"; 
  grid-area: prodcolors; 
  background-color: #f9f9f9;
}
.color1 { grid-area: color1; }
.color2 { grid-area: color2; }
.color3 { grid-area: color3; }
.color4 { grid-area: color4; }
.color5 { grid-area: color5; }
.color6 { grid-area: color6; }
.color7 { grid-area: color7; }
.color8 { grid-area: color8; }
.color9 { grid-area: color9; }
.color10 { grid-area: color10; }

.prodimg { 
  grid-area: prodimg;
  background-size: cover;
}

.prodbuy { 
  grid-area: prodbuy; 
  background-color: #ffb700;
  text-align: center;
  display: flex;
  color: white;
  align-items:center;
  justify-content:center;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

