.topImage{
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  text-align: center;
  color: white;
}

.topImage > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topImage > h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidcol {
  width: 95vw;
  height: auto;
  display: flex;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: #e9e9e9;
}

.sidcol a:link, .sidcol a:visited{
  text-decoration: none;
  color: black;
}

.sidcol a:hover, .sidcol a:active {
  text-decoration: underline;
  color: black;
}

.featcol {
  height: 100%;
  width: 33.333%;
  text-align: center;
}

.typecol{
  height: 100%;
  width: 33.333%;
  text-align: center;
}

.sericol{
  height: 100%;
  width: 33.333%;
  text-align: center;
}

.products {  
  width: 95vw;
  height: 10vh;
  /*height: auto;*/
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 5% 5%;
  grid-auto-flow: row;
  grid-template-areas:
    "col1 col2 col3";
}

.col1 { grid-area: col1; }

.col2 { grid-area: col2; }

.col3 { grid-area: col3; }
