.topImage{
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  text-align: center;
  color: white;
}

.topImage > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topImage > h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidcol {
  width: 95vh;
  height: auto;
}

.featcol {
  height: 100%;
  width: 33.333%;
}

.typecol{
  height: 100%;
  width: 33.333%;
}

.sericol{
  height: 100%;
  width: 33.333%;
}
