.popup {
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(250, 250, 250, 0.4);
            display: none;
}
.popup-content {
            background-color: white;
            margin: 10% auto;
            padding: 20px;
            border: none;
            width: 30%;
            font-weight: bolder;
}

.show {
            display: block;
}

.popup-content img {
            color: red;
}

.popup-content input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.popup-content .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.popup-content .search-container button:hover {
  background: #ccc;
}
