:root{
  --br-round: 3vw;
}

.layout {
  height: 500vh;
  width: 100vw;
  display: grid; 
  grid-template-columns: 0.05fr 1fr; 
  grid-template-rows: 0.15fr 0.85fr 0.15fr 4.6fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."
    ". ."; 
}

.logo {
  grid-column: 2;
  grid-row: 1;
}

img.logo{
  width: auto;
  height: 5vh;
}

.navmenu{
  grid-column: 1;
  grid-row: 2;
}

.icons {

}

.backgrounds{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.mainfeaturebackground{
  height: 80vh;
  width: 100%;
  background-image: url("https://cdn11.bigcommerce.com/s-scyvnex8so/product_images/uploaded_images/laser-gallery-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: var(--bg-round);
}

.content{
  grid-column: 2;
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
}
